<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Emico\AttributeLanding\Model\FilterHider\FilterHiderInterface" type="Emico\AttributeLandingTweakwise\Model\FilterHider\TweakwiseFilterHider"/>
    <type name="Emico\AttributeLanding\Model\FilterApplier\AggregateFilterApplier">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="tweakwise" xsi:type="string">Emico\AttributeLandingTweakwise\Model\FilterApplier\TweakwiseFilterApplier</item>
            </argument>
        </arguments>
    </type>
    <type name="Emico\AttributeLandingTweakwise\Model\FilterApplier\TweakwiseFilterApplier">
        <arguments>
            <argument name="navigationContext" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\NavigationContext\Category</argument>
        </arguments>
    </type>

    <type name="Emico\Tweakwise\Model\Catalog\Layer\Url">
        <plugin name="AttributeLandingTweakwise" type="Emico\AttributeLandingTweakwise\Plugin\UrlPlugin" />
    </type>

    <type name="Emico\Tweakwise\Model\Catalog\Layer\Url\Strategy\PathSlugStrategy">
        <plugin name="AttributeLandingTweakwise" type="Emico\AttributeLandingTweakwise\Plugin\PathSlugStrategyPlugin" />
    </type>

    <type name="Emico\Tweakwise\Model\Seo\FilterHelper">
        <plugin name="AttributeLandingTweakwise" type="Emico\AttributeLandingTweakwise\Plugin\Seo\FilterHelperPlugin" />
    </type>

    <type name="Emico\Tweakwise\Model\Catalog\Layer\Url\Strategy\PathSlugStrategy">
        <arguments>
            <argument name="rewriteResolvers" xsi:type="array">
                <item name="category" xsi:type="object">Emico\AttributeLandingTweakwise\Model\Catalog\Layer\Url\RewriteResolver\LandingPageResolver</item>
            </argument>
        </arguments>
    </type>

</config>
