<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Emico\AttributeLanding\Model\FilterHider\FilterHiderInterface" type="Emico\AttributeLandingTweakwise\Model\FilterHider\TweakwiseFilterHider"/>
    <type name="Emico\AttributeLanding\Model\FilterApplier\AggregateFilterApplier">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="tweakwise" xsi:type="string">Emico\AttributeLandingTweakwise\Model\FilterApplier\TweakwiseFilterApplier</item>
            </argument>
        </arguments>
    </type>
    <type name="Emico\AttributeLandingTweakwise\Model\FilterApplier\TweakwiseFilterApplier">
        <arguments>
            <argument name="navigationContext" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\NavigationContext\Category</argument>
        </arguments>
    </type>

    <virtualType name="Emico\AttributeLandingTweakwise\Model\NavigationConfig\LandingPage" type="Emico\Tweakwise\Model\NavigationConfig">
        <arguments>
            <argument name="filterFormInputProvider" xsi:type="object">Emico\AttributeLandingTweakwise\Model\FilterFormInputProvider\LandingPageInputProvider</argument>
        </arguments>
    </virtualType>

    <!-- If you need other layouts or possible even layer objects register them here -->
    <type name="Emico\Tweakwise\Controller\Ajax\Navigation">
        <arguments>
            <argument name="initializerMap" xsi:type="array">
                <item name="landingpage" xsi:type="object">Emico\AttributeLandingTweakwise\Model\AjaxResultInitializer\LandingPageInitializer</item>
            </argument>
        </arguments>
    </type>

    <type name="Emico\Tweakwise\Model\Catalog\Layer\Url\Strategy\PathSlugStrategy">
        <arguments>
            <argument name="rewriteEntities" xsi:type="array">
                <item name="landingpage" xsi:type="string">landingpage</item>
            </argument>
        </arguments>
    </type>

    <type name="Emico\Tweakwise\Model\Catalog\Layer\Url">
        <plugin name="AttributeLandingTweakwise" type="Emico\AttributeLandingTweakwise\Plugin\UrlPlugin" />
    </type>

    <type name="Emico\Tweakwise\Model\Catalog\Layer\Url\Strategy\PathSlugStrategy">
        <plugin name="AttributeLandingTweakwise" type="Emico\AttributeLandingTweakwise\Plugin\PathSlugStrategyPlugin" />
        <arguments>
            <argument name="rewriteResolvers" xsi:type="array">
                <item name="landingpage" xsi:type="object">Emico\AttributeLandingTweakwise\Model\Catalog\Layer\Url\RewriteResolver\LandingPageResolver</item>
            </argument>
        </arguments>
    </type>

    <type name="Emico\Tweakwise\Model\Seo\FilterHelper">
        <plugin name="AttributeLandingTweakwise" type="Emico\AttributeLandingTweakwise\Plugin\Seo\FilterHelperPlugin" />
    </type>

    <type name="Emico\Tweakwise\Block\LayeredNavigation\RenderLayered\DefaultRenderer">
        <plugin name="AttributeLandingTweakwiseNoAjax"
                type="Emico\AttributeLandingTweakwise\Plugin\Block\LayeredNavigation\RenderLayered\RendererPlugin"/>
    </type>

    <type name="Emico\Tweakwise\Block\LayeredNavigation\RenderLayered\SwatchRenderer">
        <plugin name="AttributeLandingTweakwiseNoAjax"
                type="Emico\AttributeLandingTweakwise\Plugin\Block\LayeredNavigation\RenderLayered\RendererPlugin"/>
    </type>

    <type name="Emico\Tweakwise\Model\Catalog\Layer\Url\Strategy\PathSlugStrategy">
        <arguments>
            <argument name="rewriteResolvers" xsi:type="array">
                <item name="landingpage" xsi:type="object">Emico\AttributeLandingTweakwise\Model\Catalog\Layer\Url\RewriteResolver\LandingPageResolver</item>
            </argument>
        </arguments>
    </type>

</config>
